@keyframes openSummary{
    0%  {
        opacity: 0; 
        margin-left: -10px; 
       
    }

    100%    {
        opacity: 1; 
        margin-left: 0px;
        
    }
  }
/*
@keyframes blinkCursos {
    from {
        border-right-color:#FFF;
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width:150px;
    }
}
*/
@keyframes pulsarAnimation {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'montsserat', Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}



/* HEADER */

header {
    height: 100px;
    color: #326CAF;
}

.header_logo {
    height: 100px;
    display: flex;
    align-items: center;
}
.logo img{
    height: 80px;
    margin-left:20px ;
}
.header_menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}
.menu ul,
.menu li {
    list-style: none;
    display:flex;
}
.menu li a {
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    font-weight:700;
    font-size:15px;
    padding:15px 25px 15px 25px;
    margin-right:5px;
    border-radius: 5px;
    color: #326CAF;
    position: relative;
}
.menu li .btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#326CAF;
    z-index: -1;
    transition: 1s ease;

}
.menu li .btn-w:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#10C246;
    z-index: -1;
    transition: 1s ease;
}
.menu li .btn:before,
.menu li .btn-w:before {
    width:70%;
    height: 0;
    transform: translate(-10%, -10%);
    transform: rotate(45deg);
}
.menu li .btn:hover:before,
.menu li .btn-w:hover:before {
    width:410px;
    height:440%;
}
.menu li #home {
    color:#FFF;
    box-shadow: 0px 0px 5px #4e9df7;
    background-color:#326CAF;
} 
.menu li a:hover {
    color:#FFF;
    box-shadow: 0px 0px 5px #4e9df7;
}
.menu-faketrigger {
    display: none;
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
    opacity: 0;
}
.menu-lines {
    display: none;
    position: absolute;
    z-index: 998;
    width: 35px;
    height: 35px;

}
.menu-lines span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #326CAF;
    transition: all ease .5s;
}
.menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
}
.menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
    margin-left:-50px;
    opacity: 0;
}
.menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}

/* BANNER e SLIDES*/
.banner {
    height:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}
.banner .sliders{
    display: flex;
    align-items: center;
    color: #fff;
    max-width:100vw;
    overflow: hidden;
    
}
.banner .slidearea{
    width:100vw;
    height:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .8s;
       
}
.banner .slide {
    width:100vw;
    height: inherit;
    flex: 1;
    display: flex;
    justify-content:space-around;
    flex-wrap: nowrap;
    
} 

/* Estilização slide 1 */
.banner .slidearea.s1 {
    background-image: url('../images/slide1.jpg');
    background-size:cover;
    background-position: center;
    
}
.banner .slidearea.s1 .slide {
    background-color: rgba(0, 0, 0, 0.2);
}
.banner .s1 .title1,
.banner .s1 .title2 {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.banner .s1 h1 {
    font-size:40px;
    font-style: italic;
    font-weight: bold;
    color:#4e9df7;
    text-shadow: 0 0 2px black;
}

.banner .s1 h1 span {
    font-size:25px;
    font-style: italic;
    font-weight: bold;
    color:#000;
    text-shadow: 0 0 5px #FFF;
}
.banner .s1 h2 {
    font-size:25px;
    text-shadow: 0 0 1px black;
    
}
.banner .s1 h2 span {
    font-size:40px;
    font-style: italic;
    font-weight: bold;
    color:#4e9df7;
    text-shadow: 0 0 2px black;
    margin-left: 100px;
    
}
.banner .s1-especialista {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.banner .s1-especialista a {
    display: block;
    padding:12px 45px;
    background-color: #FFA634;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius:25px;
    text-decoration: none;
    font-size: 21px;
}
.banner .s1-especialista .pulsar-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .s1-especialista .pulsar {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 15px;
    background-color: #00FF33;
    margin-left: 30px;
    margin-right: 10px;
    position: relative;
    
}

.pulsar::before, .pulsar::after {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #00FF33;
    border-radius: 50%;
    left: -3px;
    top: -3px;
    right: -3px;
    bottom: -3px;
    animation: pulsarAnimation 1.5s linear infinite;
}
.pulsar::after {
    animation-delay: .5s;
}
.banner .s1-especialista .pulsar-area span {
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 0 0 5px black;
}
.banner .title1 h6 {
    text-align: center;
    margin-top: 10px;
    margin-left:-150px;
    color: #DDD;
    text-shadow: 0 0 5px black;
}
.banner .title1 h6 span {
    color: #FFF;
}

.banner .slidearea.s1 .title2 a {
    margin-top: 30px;
    margin-bottom: 0px;
    display: block;
    padding:10px 25px;
    background-color: #fff;
    color: #4e9df7;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 1px #000;
    border: none;
    border-radius:20px;
    text-decoration: none;
    font-size:20px;
}
.banner .s1 .title1 a:hover,
.banner .s1 .title2 a:hover {
    color: #fff;
    background-color: #326CAF;
}

/* Estilização especifica do SLIDE 2*/
.banner .slidearea.s2 {
    background-image: url('../images/slide2.jpeg');
    background-size:cover;
    background-position:right;
    
}
.banner .s2 .slide {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner .s2 .title1,
.banner .s2 .title2 {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
}
.banner .s2 .title1 h1 {
    font-size:39px;
    font-style: italic;
    text-shadow: 0 0 2px #000;
}
.banner .s2 .title1 h1  span{
    color: #4e9df7;
    text-shadow: 0 0 1px #999;
}
.banner .s2 .title1 h3 {
    margin-top: 40px;
}
.banner .s2 .title1 h3  span{
    font-size: 25px;
    padding: 0px 50px;
    color: #FFA634;
    position: relative;

}
.banner .s2 .title1 h3 span::before {
    content: '';
    position: absolute;
    top:-5px;
    left: 0;
    background-image: url('../images/verificado.png');
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 40px;
    height: 40px;

}
.banner .s2 .title2 a {
    display: block;
    margin-top:80px;
    margin-bottom: 5px;
    padding: 7px 60px;
    background-color: #326CAF;
    color: #FFF;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 1px #4e9df7;
    border: none;
    border-radius:20px;
    text-decoration: none;
    font-size:25px;
}
.banner .s2 .title2 a:hover {
    background-color:#FFA634;
}


/* FIM */ 

/* Estilização especifica do SLIDE 3*/
.banner .s3 {
    background-image: url('../images/slide3.jpg');
    background-size: cover;
    background-position: center;
}
.banner .s3 .title1 {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex: 1;
}
.banner .s3 .title2{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.banner .s3 h1 {
    font-size:45px;
    font-style: italic;
}
.banner .s3 .title1 a {
    margin-top: 30px;
    display: block;
    padding:13px 27px;
    background-color: #fff;
    color: #326CAF;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 1px #4e9df7;
    border: none;
    border-radius:20px;
    text-decoration: none;
    font-size: 20px;
}
.banner .s3 .title2 a {
    margin-top: 30px;
    margin-bottom: 10px;
    display: block;
    padding: 13px 27px;
    background-color: #fff;
    color: #326CAF;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 1px #4e9df7;
    border: none;
    border-radius:20px;
    text-decoration: none;
    font-size:25px;
}
.banner .s3 .title1 a:hover,
.banner .s3 .title2 a:hover {
    color: #fff;
    background-color: #326CAF;
}

/* FIM */ 

/* Foi utilizado input type="radio" para o funcionamento dos slides, dando margem-left negativa, junto com pointer  */
.banner .sliders input {
    display: none;
}
#input-s1:checked ~ .s1 {
    margin-left:0vw;
}
#input-s2:checked ~ .s1 {
    margin-left: -100vw;
}
#input-s3:checked ~ .s1 {
    margin-left: -200vw;
}

.banner .pointers {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5px;
    height: 50px;
    
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #326CAF;
    border-radius:8px ;
    cursor: pointer;
    margin-left:5px;
    margin-right: 5px;
}
.pointer:hover {
    background-color: #326CAF;
}
#input-s1:checked ~ .p1 {
    background-color: #10C246;
}
/* FIM */



/* QUEM SOMOS */

.quemsomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:30px;
    margin-bottom: 30px;
}
.quemsomos-title h1{
    padding:20px;
    color: #326CAF;
    font-size: 30px;
    
}
.quemsomos-conteudo p{
    padding:30px 20px;
    line-height:25px;
    font-size: 20px;
}
.quemsomos-conteudo h2 {
    text-align: center;
    color: #326CAF;
}
.quemsomos-conteudo a {
    text-decoration: none;
    font-weight: bold;
    color: #F27500;
}
.quemsomos-conteudo a:hover {
    text-decoration: underline; 
}



/* SUPORTE */

#suporte {
    margin-top:50px;
    background-color: #D4E2FF;
}
.suporte-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:30px;
    margin-bottom: 30px;
}
.suporte-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.suporte-title h1{
    color: #1b3a5e;
    font-size:40px;
    padding-bottom: 10px;
}

.suporte-icons-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.suporte-icons a{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:30px;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
    color: #1b3a5e;
}
.suporte-icons a:hover {
    text-decoration: underline;
}
.suporte-icons-img {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #326CAF;
    width:90px;
    height:90px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.suporte-icons-img:hover {
    box-shadow: 0 0 7px #326CAF;
}
.suporte-icons img {
    padding:10px;
    width:70px;
    height: auto;
}




/* SOLUCOES */
#solucoes {
    margin-bottom:70px;
}

.solucoes-title {
    margin-top:50px;
    margin-bottom: 50px;
}
.solucoes-title h1{
    text-align: center;
    color: #326CAF;
    font-size: 30px;
    padding-bottom: 10px;
}
.solucoes-area {
    width: 100vw;
    max-width: 1140px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.solucao{
    width:310px;
    height:420px;
    padding:25px;
    background-color: #FFF;
    border-radius:10PX;
    box-shadow: 0px 0px 10px #BBB;
    margin-bottom:20px;
}
.solucao-logo {
    display:flex;
    justify-content: center;
    align-items: center;
    width:110px;
    height:auto;
}.solucao-logo img {
    padding:5px;
    width:100%;
    height: auto;
}
.solucao-title h3{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size:22px;
}
.solucao-text p{
    height:150px;
    font-family: sans-serif;
    color:#444;
    font-size: 18px;
}
.solucao a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:#444;
    padding-top: 20px;
    padding-bottom: 20px;
}
.solucao a:hover {
    color: #326CAF;
}





/* EMPRESAS */

#empresa {
    background-color: #D4E2FF;
}
.empresas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:30px;
    margin-bottom: 30px;
}
.empresas-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.empresas h2 {
    color: #f27500;
    padding:20px;
    font-size: 20PX;
    text-transform: uppercase;
}
.empresas h1{
    color: #1b3a5e;
    font-size:52px;
    padding-bottom: 10px;
}

.empresas-conteudo {
    max-width:700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empresas-conteudo p {
    text-align: center;
    font-size:17px;
}
.empresas-conteudo-logos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logocertificados,
.logosolucoes,
.logoconsorcios,
.logoseguros {
    margin:15px;
    width:150px;
    height: 100px;
    border-radius:10px;
    background-color: #FFF;
    display:flex;
    justify-content: center;
    align-items: center;
}
.empresas-conteudo-logos img {
    width:110px;
}



/* SEJA PARCEIRO */
.container.seja-parceiro {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container.seja-parceiro h1 {
    text-align: center;
    padding: 40px;
    color: #1b3a5e;
    font-size:40px;
}
.seja-parceiro-area {
    background-image:url('../images/parceiro.jpg');
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 700px;
    margin-bottom: 70px;

}

form {
    position: absolute;
    right: 100px;
    bottom:50px;
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width:550px;
    height: 650px;
    box-shadow: 0 0 5px #326CAF;
}
form h2 {
    text-align: center;
    padding:15px;
    color: #1b3a5e;
    font-size: 35px;
    margin-top: 10px;
}
form h5 {
    width: 320px;
    margin:auto;
    text-align: center;
    color: #888;
    margin-bottom:30px;
}

.form-conteudo {
    display: flex;
    flex-direction: column;
    
}
.form-conteudo input, select {
    border: 0;
    outline: 0;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom:20px;
    border-bottom: 1px solid #666;
    font-size: 18px;
}
.form-conteudo textarea {
    border: 0;
    border-bottom: 1px solid #666;;
    outline: 0;
    padding: 10px;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom:20px;
    resize:vertical;
    display: block;
    height: 120px;
    font-size: 18px;
    
}
form button {
    margin: auto;
    display:flex;
    justify-content: center;
    width: 80px;
    padding: 13px 62px;
    font-size: 16px;
    font-weight: 800;
    color: #FFF;
    border: 1px solid #326CAF;
    border-radius: 5px;
    background-color:#326CAF;
    cursor: pointer;

}
form button:hover {
    border: 1px solid #f27500;
    background-color:#f27500;
}


/* FAQ */
#faq {
    background-color: #D4E2FF;
    padding-top:5px;
    padding-bottom: 10px;
}
#faq h1 {
    text-align: center;
    margin-top:60px ;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 30px;
    color: #326CAF;
}
.faq {
    display: flex;
    justify-content:center;
    align-items: center;
}
.faq-img img {
    padding-right:50px;
    width:300px;
    height: auto;
}
.faq-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    max-width:550px;
    margin-bottom:25px;
    
}
details {
    box-shadow: 0px 0px 5px black;
    position: relative;
    cursor: pointer;
    
}
details>summary {
    list-style-type:none ;
}
details[open] summary ~ * {
    animation: openSummary .7s ease;
}
details P {
    background-color: #fff;
    font-style: italic;
    font-size: 17px;
    
}
details P a{
    font-weight: bold;
    color: #326CAF;
    text-decoration: none;
    
}
details P a:hover{
    text-decoration:underline;
    
}
.faq-item summary {
    list-style-type:none;
}
.faq-item summary h2 {
    max-width:720px;
    min-width: 550px;
    padding:10px 50px;
    background-color:#326CAF;
    color: #FFF;
    font-size:20px;
    font-family: serif;
    font-weight: normal;
    box-shadow: 0px 0px 5px black;
    
}
.faq-item summary::-webkit-details-marker {
    display: none;
    list-style-type:none ;

}
.faq-item summary h2::after {
    content: ' ';
    position: absolute;
    padding:7px;
    box-shadow: 2px -2px 0 1px #FFF inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    top:12px;
    right:40px;   
}
details[open] > summary h2::after {
    transform: rotate(135deg);
  }

.faq-item p {
    padding: 30px 40px;
}


/* FOOTER */
footer {
    background-color: #1b3a5e;
}
.container.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    color: #FFF;
}
.footer-area {
    display: flex;
    align-items: center;
    justify-content:center;
    flex: 1;

}
.footer-area1,
.footer-area2 {
    display: flex;
}
.footer-menu ul li{
    list-style-type: none;
    
}
.footer-menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #EEE;
    font-style: italic;
}
.footer-menu a:hover {
    text-decoration: underline;
}
.footer-comunicacao-area {
    display: flex;
    
}

.footer-sociais-area {
    margin-right:35px;
    
}
.footer-endereco,
.footer-comunicacao-area {
    justify-content: center;
    
}

.footer-contatos-area {
    margin-left: 0px;
}
.footer-contatos-area ul,
.footer-contatos-area li {
    list-style-type: none;
}

.footer-logo,
.footer-menu,
.footer-orgaos {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-address {
    flex: 1;
    padding-left:35px;
}
.footer-logo img {
    max-width:200px;
    height: auto;
}

.footer-orgaos img {
    max-width: 150px;
    height:auto;
}
.footer-address h3 {
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 10px;
    color:#EEE;
}
.footer-icons-rede-area {
    display: flex;
    margin-bottom: 10px;
}
.footer-icons-rede {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFF;
    width: 40px;
    height: 40px;
    border-radius:50%;
    margin-right: 10px;

}
#facebook:hover {
    background-color: #1096F4;
}
#instagram:hover{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    border: 2px solid linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.footer-address img {
    width:20px;
    height:auto;
    
}
.footer-endereco {
    margin-bottom: 10px;
    width:380px;
    
}
.footer-endereco span {
    line-height: 25px;
}
footer .direitos {
    width:100%;
    display: flex;
    justify-content: space-around;
    background-color: #222;
}
footer .direitos span {
    display: block;
    padding: 10px;
    font-size: 12px;
    color: #999;
}


/* PAGE SUPORT */
/* 
.page-suporte {
    display: flex;
    flex-direction: column;
    
}
.pag-sup-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width:100%;
    background-image: url('../images/female-suporte.jpg');
    background-position: center;
    background-size: cover;
}
.pag-sup-img p {
    display: block;
    border-right: 2px solid #FFF;
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    margin-top:50px;
}
.blinkCursor {
    animation: blinkCursos 800ms steps(25) infinite normal, 
                typing 2s steps(25) normal 1s both;
}
.pag-sup h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color:#326CAF;
}
.pag-sup-area-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pag-sup-area-remoto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:700px;
    padding:10px;
    border: 4px solid #326CAF;
    border-radius: 30px;
    margin-bottom: 20px;
  
}
.pag-sup-area-remoto:hover {
    box-shadow: 0 0 10px #555;
}
.pag-sup-area-remoto h4 {
    color: #326CAF;
    font-style: italic;
    margin-left:20px;
    
}
.pag-sup-area-remoto a {
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    margin-right: 20px;
    background-color: #326CAF;
    border:1px solid #326CAF;
    border-radius:5PX;
    font-weight:bold;
    font-style: italic;
    color: #FFF;
    cursor: pointer;
}
.pag-sup-area-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pag-sup-area-drivers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pag-sup-area-drivers img {
    width: 250px;
    height: auto;
}
.pag-sup-area-drivers a {
    margin-top: -30px;
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    margin-bottom:50px;
    background-color: #326CAF;
    border:1px solid #326CAF;
    border-radius:5PX;
    font-weight:bold;
    font-style: italic;
    color: #FFF;
    cursor: pointer;
}

.pag-sup-area-drivers a:hover{
    box-shadow: 0 0 10px #555;
}
.pag-sup-img-fale-conosco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width:100%;
    background-image: url('../images/fale-conosco.jpg');
    background-position: center;
    background-size: cover;
}
.pag-sup-img-fale-conosco h5 {
   font-size: 25px;
   color: #EEE;
   font-weight: bold;
   font-style: italic;
   margin-bottom: 20px;
}
.pag-sup-img-fale-conosco a {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px 25px;
    margin-bottom:50px;
    background-color: #FFF;
    border:1px solid #326CAF;
    border-radius:5PX;
    font-weight:bold;
    font-style: italic;
    color: #326CAF;
    cursor: pointer;
 }
 .pag-sup-img-fale-conosco a:hover {
    background-color: #326CAF;
    color: #FFF;
    box-shadow: 0 0 5px #CCC;
 }
*/

/* REPONSIVIDADE  LAPTOP */
@media (max-width:1079px) {
    .menu li a {
        font-size:12px;
        padding:12px 22px 12px 22px;
        margin-right:3px;
        border-radius: 4px;
        color: #326CAF;
        position: relative;
    }
    .quemsomos-title h1{
        padding:20px;
        color: #326CAF;
        font-size: 25px;
        
    }
    .quemsomos-conteudo p{
        padding:30px 20px;
        line-height:22px;
        font-size: 17px;
    }
}

/* REPONSIVIDADE  TABLET */

@media (min-width:769px) and (max-width:950px) {
    .header_menu {
        margin-right:200px

    }
    .menu {
        position: absolute;
        z-index: 997;
        display: none;
        height: calc(570px - 120px);
        margin-top:120px;
        right:-9px;
        top:0px;
        
    }
    .menu-faketrigger,
    .menu-lines {
        display:block;
    }
    .menu-faketrigger:checked ~ .menu {
        display: flex;
    }
    .menu li #home {
        color:#326CAF;
        box-shadow:none;
        background-color:transparent;
    }
    .menu ul {
        flex-direction: column;
        background-color:rgba(0, 0, 0, 0.9);

    }
    .menu li a {
        font-weight:700;
        font-size:15px;
        padding:25px 100px 15px 25px;
        margin: 0;
        border-radius: 5px;
        color: #326CAF;
        position: relative;
    }
    /*SLIDE S1 */
    .banner .s1 h1 {
        font-size:31px;
    }
    
    .banner .s1 h1 span {
        font-size:21px;
        
    }
    .banner .s1 h2 {
        font-size:21px;

    }
    .banner .s1 h2 span {
        font-size:31px;
        
    }
  
    .banner .s1-especialista a {
        padding:10px 25px;
        border-radius:25px;
        text-decoration: none;
        font-size: 18px;
    }
    
    .banner .slidearea.s1 .title2 a {
        padding:8px 12px;
        font-size:15px;
    }

    /* SLIDE S2 */

    .banner .s2 .title1 h1 {
        font-size:31px;
    }
    .banner .s2 .title1 h2 {
        margin-top: 10px;
        font-size:20px;
    }

    .banner .s2 .title1 h3 {
        margin-top:35px;
    }
    .banner .s2 .title1 h3  span{
        font-size: 22px;
    
    }
    .banner .s2 .title2 a {
        padding: 5px 50px;
        font-size:20px;
    }
    .banner .s2 .title2 a:hover {
        background-color:#FFA634;
    }

    /* SLIDE S3 */
    .banner .s3 h1 {
        font-size:38px;
    }
    .banner .s3 .title1 a {
        padding:10px 22px;
        font-size: 20px;
    }
    .banner .s3 .title2 a {
        padding: 10px 22px;
        font-size:20px;
    }
    
    /* FIM SLIDES */
    
    .faq .faq-img {
        display: none;
    }
    .container.footer {
        height: 450px;
        flex-wrap: wrap;
    
    }
    .footer-area {
        flex-direction: column;
    
    }
    .footer-area1,
    .footer-area2 {
        width:630px;
        display: flex;
        justify-content: space-between;
    }
    .footer-area1 {
        margin-bottom: 50px;
    }
    .footer-logo img {
        max-width:200px;
        height: auto;
    }
    .footer-menu a {
        text-align:center;
    }
    
}

/* RESPONSIVIDADE MOBILE */
@media (min-width:554px) and (max-width:768px) {
    .logo img {
        margin-left:60px;
    }
    .header_menu {
        margin-right:200px
    }
    .menu {
        position: absolute;
        z-index: 997;
        display: none;
        height: calc(570px - 120px);
        margin-top:120px;
        right:-9px;
        top:0px;    
    }
    .menu-faketrigger,
    .menu-lines {
        display:block;
    }
    .menu-faketrigger:checked ~ .menu {
        display: flex;
    }
    .menu li #home {
        color:#326CAF;
        box-shadow:none;
        background-color:transparent;
    }
    .menu ul {
        flex-direction: column;
        background-color:rgba(0, 0, 0, 0.9);

    }
    .menu li a {
        font-weight:700;
        font-size:15px;
        padding:25px 100px 15px 25px;
        margin: 0;
        border-radius: 5px;
        color: #326CAF;
        position: relative;
    }
    /*SLIDE S1 */
    .banner .slidearea.s1 .slide {
        flex-direction: column-reverse;
        
    }
    .banner .slidearea.s1 .title1 {
        justify-content: flex-end;
        flex: 0;
    }
    .banner .s1 h1 {
        font-size:33px;
    }
    
    .banner .s1 h1 span {
        font-size:22px;
        
    }
    .banner .s1 h2 {
        font-size:22px;

    }
    .banner .s1 h2 span {
        font-size:33px;
        
    }
  
    .banner .s1-especialista a {
        padding:10px 25px;
        border-radius:25px;
        text-decoration: none;
        font-size: 18px;
    }
    .banner .slidearea.s1 .title2 {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0;
    }
    
    .banner .slidearea.s1 .title2 a {
        padding:8px 12px;
        font-size:15px;
        
    }

    /* SLIDE S2 */

    .banner .s2 .title1 h1 {
        font-size:31px;
        text-align: center;
    }
    .banner .s2 .title1 h2 {
        word-wrap: break-word;
        text-align: center;
        margin-top: 10px;
        font-size:20px;
        padding: 10px;
    }

    .banner .s2 .title1 h3 {
        margin-top:30px;
    }
    .banner .s2 .title1 h3  span{
        font-size: 15px;
        text-align: center;
    
    }
    .banner .s2 .title1 h3  span::before {
        top: -15px;
    }
    .banner .s2 .title2 a {
        padding: 5px 50px;
        font-size:20px;
    }

    /* SLIDE S3 */
    .banner .slidearea.s3 .slide {
        flex-direction: column-reverse;
    }
    .banner .s3 h1 {
        font-size:38px;
    }
    .banner .s3 .title1 a {
        padding:10px 22px;
        font-size: 20px;
    }
    .banner .s3 .title2 a {
        padding: 10px 22px;
        font-size:20px;
    }

    /* FIM SLIDES */
    .quemsomos-conteudo p {
        max-width:600px;
        text-align: center;
    }
    .solucoes-area {
        flex-direction: column;
    }
    .empresas-title h2 {
        font-size:18px;
    }
    .empresas-title h1 {
        font-size:33px;
    }
    .empresas-conteudo p {
        max-width: 550px;
    }
    .empresas-conteudo-logos {
        width: 400px;
        flex-wrap: wrap;
    }
    .container.seja-parceiro h1{
        font-size:27px;
    }
    form {
        right:30px;
        width: 500px;
    }


    .faq .faq-img {
        display: none;
    }
    .faq-item {
        max-width:500px;    
    }
   
    details P {
        font-size: 20px;
    }

    .faq-item summary h2 {
        min-width:500px;
        padding:10px 30px;
        font-size:20px;
        
    }
    .faq-item summary h2::after {
        right:30px;
    }
    .container.footer {
        height:auto;
    
    }
    .footer-area {
        flex-direction: column;
    
    }
    .footer-area1,
    .footer-area2 {
        width:630px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-area1 {
        margin-bottom: 50px;
    }
    .footer-logo img {
        max-width:250px;
        height: auto;
    }
    .footer-menu a {
        text-align: center;
    }
    .footer-endereco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        margin-bottom:30px;
    }
    .footer-sociais {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-orgaos img {
        max-width:220px;
        height: auto;
    }
}

/* RESPONSIVIDADE MOBILE */
@media (max-width:554px) {
    .logo img {
        margin-left:60px;
    }
    .header_menu {
        margin-right:200px
    }
    .menu {
        position: absolute;
        z-index: 997;
        display: none;
        height: calc(570px - 120px);
        margin-top:120px;
        right:-9px;
        top:0px;    
    }
    .menu-faketrigger,
    .menu-lines {
        display:block;
        margin-left: 90px;
        top: 40px;
    }
    .menu-faketrigger:checked ~ .menu {
        display: flex;
    }
    .menu li #home {
        color:#326CAF;
        box-shadow:none;
        background-color:transparent;
    }
    .menu ul {
        flex-direction: column;
        background-color:rgba(0, 0, 0, 0.8);

    }
    .menu li a {
        font-weight:700;
        font-size:15px;
        padding:25px 100px 15px 25px;
        margin: 0;
        border-radius: 5px;
        color: #326CAF;
        position: relative;
    }
    /*SLIDE S1 */
    .banner .slidearea.s1 .slide {
        flex-direction: column-reverse;
        
    }
    .banner .slidearea.s1 .title1 {
        justify-content: flex-end;
        flex: 0;
    }
    .banner .s1 h1 {
        font-size:40px;
        text-align: center;
    }
    
    .banner .s1 h1 span {
        font-size:35px;
        
    }
    .banner .s1 h2 {
        text-align: center;
        font-size:30px;

    }
    .banner .s1 h2 span {
        font-size:30px;
 
    }
    .banner .s1-especialista {
        margin: 0;
        margin-top:5px;
    }
  
    .banner .s1-especialista a {
        padding:13px 15px;
        border-radius:25px;
        text-decoration: none;
        font-size: 15px;
        text-align: center;
    }
    .banner .slidearea.s1 .title1 h6 {
        margin-left:10px;
        margin-bottom: 15px;
    }
    .banner .slidearea.s1 .title2 {
        flex-direction: column;
        justify-content: space-around;
        margin-top: 0;
    }
    
    .banner .slidearea.s1 .title2 a {
        padding:8px 10px;
        font-size:14px;
        
    }

    /* SLIDE S2 */

    .banner .s2 .title1 h1 {
        font-size:28px;
        text-align: center;
    }
    .banner .s2 .title1 h2 {
        word-wrap: break-word;
        text-align: center;
        margin-top: 10px;
        font-size:20px;
        padding: 10px;
    }

    .banner .s2 .title1 h3 {
        margin-top:30px;
        
        
    }
    .banner .s2 .title1 h3  span{
        font-size: 16px;
        text-align: center;
        margin: 0;
        padding: 0px 20px;
    
    }
    .banner .s2 .title1 h3  span::before {
        top: -15px;
        left:-15px;
    }
    .banner .s2 .title2 a {
        padding: 5px 50px;
        font-size:20px;
    }

    /* SLIDE S3 */
    .banner .slidearea.s3 .slide {
        flex-direction: column-reverse;
    }
    .banner .s3 h1 {
        font-size:38px;
    }
    .banner .s3 .title1 a {
        padding:10px 22px;
        font-size: 20px;
    }
    .banner .s3 .title2 a {
        padding: 10px 22px;
        font-size:20px;
    }

    /* FIM SLIDES */
    .quemsomos-conteudo p {
        max-width:600px;
        text-align: center;
    }
    .solucoes-area {
        flex-direction: column;
    }
    .empresas-title h2 {
        font-size:20px;
    }
    .empresas-title h1 {
        font-size:30px;
        text-align: center;
    }
    .empresas-conteudo p {
        width: 320px;
    }
    .empresas-conteudo-logos {
        width:320px;
        flex-wrap: wrap;
        
    }
    .logocertificados,
    .logosolucoes,
    .logoconsorcios,
    .logoseguros {
        margin:7px;
        width:135px;
        
    }
    .empresas-conteudo-logos img {
        width:100px;
    }
    .container.seja-parceiro h1{
        font-size:22px;
    }
    .seja-parceiro-area {
        background-image: none;
        background-color: #F0EFED;
    }
    form {
        top:180px;
        right:40px;
        width: 330px;
        height:570px;
    }
    form h5 {
        text-align: center;
        font-size:15px;
    }
    .form-conteudo input, select {
        padding:8px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .form-conteudo textarea {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom:10px;
        height: 80px;
        
    }
    form button {
        width: 80px;
        padding: 8px 50px;
        font-size: 15px;
        font-weight: 800;
    }

    .faq .faq-img {
        display: none;
    }
    .faq-item {
        max-width:320px;    
    }
    details P {
        font-size: 15px;
    }
    .faq-item summary {
        list-style-type:none ;
    }
    .faq-item summary h2 {
        min-width:320px;
        padding:10px 4px;
        font-size:14px;
        
    }
    .faq-item summary h2::after {
        right: 12px;
    }
    .container.footer {
        height:auto;
    
    }
    .footer-area {
        flex-direction: column;
    
    }
    .footer-area1,
    .footer-area2 {
        width:320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-area1 {
        margin-bottom: 50px;
    }
    .footer-logo img {
        max-width:auto;
        height: auto;
    }
    .footer-menu a {
        text-align: center;
    }
    .footer-address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-endereco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        margin-bottom:30px;
    }
    .footer-endereco h3,
    .footer-contatos-area h3,
    .footer-sociais-area h3{
        font-size: 21px;
    }
    .footer-endereco span {
        font-size: 17px;
    }
    .footer-sociais {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-sociais-area {
        margin-top: 50px;
        
    }
    .footer-comunicacao-area {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .footer-icons-rede-area {
        justify-content: center;

    }
    .footer-icons-rede {
        margin: 10px 10px;
    }
    .footer-contatos-area li{
       padding:10px;
    }
    .footer-orgaos img {
        max-width:220px;
        height: auto;
    }
}